@media (max-width: 767.98px) {
  .header {
    height: 63px;
    position: fixed;
    z-index: 100;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
  }
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 93px;
}
.header__logo {
  display: inline-block;
  width: 50px;
}
.header__logo img {
  max-width: 100%;
}
@media (max-width: 992.98px) {
  .header__logo {
    width: 40px;
  }
}
@media (max-width: 767.98px) {
  .header__logo {
    width: 50px;
  }
}
.menu-header__burger {
  width: 30px;
  height: 18px;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 25px;
  right: 50px;
  z-index: 4;
}
.menu-header__burger span {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 8px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.menu-header__burger span:first-child {
  top: 0px;
}
.menu-header__burger span:last-child {
  top: auto;
  bottom: 0px;
}
.menu-header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.menu-header__burger.active span:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}
.menu-header__burger.active span:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 8px;
}
@media (max-width: 767.98px) {
  .menu-header__burger {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .menu-header__background.active {
    display: block;
    position: fixed;
    left: 0;
    top: 62px;
    width: 100vw;
    height: 100vh;
    background-color: #4F4F4F;
    z-index: 1;
    opacity: 0.5;
  }
}
@media (max-width: 767.98px) {
  .menu-header__menu {
    position: fixed;
    width: 220px;
    height: 100%;
    top: 62px;
    left: -110%;
    background-color: #696969;
    z-index: 5;
    padding: 10px 10px 0 15px;
    overflow: auto;
  }
}
.menu-header__menu.active {
  left: 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .menu-header__list {
    display: block;
  }
}
.menu-header__link {
  font-family: "Lato";
  font-size: 13.5px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #868686;
  padding: 0 19.5px;
  display: inline-block;
  height: 34px;
  line-height: 34px;
  -webkit-transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
}
@media (max-width: 992.98px) {
  .menu-header__link {
    padding: 0 10px;
    font-size: 12.5px;
  }
}
.menu-header__link_active {
  display: inline-block;
  color: #fff;
  height: 34px;
  line-height: 34px;
  border-radius: 2px;
  background-color: #ffbb42;
}
.menu-header__link:hover {
  color: #fff;
  height: 34px;
  line-height: 34px;
  border-radius: 2px;
  background-color: #ffbb42;
}
@media (max-width: 767.98px) {
  .menu-header__link {
    font-size: 15.5px;
    color: #fff;
    margin-bottom: 10px;
  }
}